version: "3.9"

services:
  api:
    build: .
    container_name: novacommerce_api
    ports:
      - "8080:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://+:8080
    depends_on:
      - sqlserver

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: novacommerce_sql
    environment:
      SA_PASSWORD: "Ragnar0814#@"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
